.blobs
.dev_builds
.final_builds/jobs/**/*.tgz
.final_builds/packages/**/*.tgz
.idea
init.gradle
blobs
config/dev.yml
config/private.yml
dev_releases
src/dogs/out/
src/dogs/phantomjsdriver.log
releases/*.tgz

build
.gradle
*.iml
